<div class="content col-xs-12 col-md-12 no-paddings-sm" style="font-size: 14px; font-family: arial;">
    <div class="detail-header">
        <h1>
            Bệnh ung thư phổi có lây không?
        </h1>
        
        <div class="full-question"></div>
        <div class="question-images">
            <figure class="post-image full loaded-img has-zoomable">
                <img src="/assets/img/20190503_085425_739970_photo1540516765874-15.max-800x800.jpg" alt="ung thư phổi" class="full uploaded img-in-body" />
            </figure>
        </div>
    </div>
    <div class="detail-body clearfix">
        <div class="streamfield">
            <div class="block-content cms">
                <div class="rich-text">
                    <p></p>
                    <p>
                        <b>Ung thư phổi là bệnh lý nguy hiểm thường gặp ở người hay hút thuốc hoặc người thường xuyên tiếp xúc với môi trường độc hại. Nhiều người thắc mắc ung thư phổi có lây không? Bệnh ung thư phổi có di truyền không?</b>
                    </p>
                </div>
                <h2>1. Ung thư phổi có mấy giai đoạn?</h2>
                <div class="rich-text">
                    <p></p>
                    <h3>Đối với ung thư phổi tế bào nhỏ, ung thư phổi chia làm 2 giai đoạn</h3>
                    <ul>
                        <li><b>Giai đoạn hạn chế</b>: Tế bào ung thư chỉ nằm trong 1 lá phổi và một số mô xung quanh.</li>
                        <li><b>Giai đoạn mở rộng</b>: Tế bào ung thư lan sang cả 2 lá phổi và các cơ quan xung quanh như: màng phổi, lồng ngực bên ngoài phổi...</li>
                    </ul>
                    <h3>Đối với ung thư phổi không tế bào nhỏ, ung thư phổi chia làm 6 giai đoạn</h3>
                    <ul>
                        <li>Giai đoạn bị che lấp: Ở giai đoạn này, khối u chưa phát triển trong phổi mà chỉ có thể phát hiện trong đờm hoặc các mẫu nước thông qua nội soi.</li>
                        <li>Giai đoạn 0: Các tế bào ung thư phổi nằm ở lớp trong cùng của niêm mạc phổi.</li>
                        <li>Giai đoạn I: Các tế bào ung thư phổi được tìm thấy trong phổi, chưa lây lan ra bên ngoài</li>
                        <li>Giai đoạn II: Các tế bào ung thư từ phổi lây lan ra các cơ quan, bộ phận xung quanh phổi</li>
                        <li>Giai đoạn III: Các tế bào ung thư lây lan nhanh và rộng hơn, cụ thể là lây ra lồng ngực giữa phổi và tim</li>
                        <li>Giai đoạn IV: Các tế bào ung thư lan sang lá phổi còn lại và các bộ phận khác trong cơ thể. Giai đoạn này không thể loại bỏ tế bào ung thư bằng phương pháp phẫu thuật nữa.</li>
                    </ul>
                </div>
                <figure class="post-image full">
                    <img
                        alt="ung thư phổi"
                        class="full uploaded img-in-body"
                        data-src="/assets/img/20190503_085513_809394_benh-ung-thu-phoi-c.max-1800x1800.jpg"
                        src="/assets/img/20190503_085513_809394_benh-ung-thu-phoi-c.max-1800x1800.jpg"
                        lazy="loaded"
                    />
                    <figcaption class="caption"><div class="rich-text">Ung thư phổi có 4 giai đoạn</div></figcaption>
                </figure>
                <h2>2. Ung thư phổi có lây không?</h2>
                <div class="rich-text">
                    <p></p>
                    <p>
                        Ung thư phổi có lây không là thắc mắc của rất nhiều người, đặc biệt là khi trong gia đình có người bị ung thư phổi. Khi thấy người bị ung thư phổi liên tục ho, ho dữ dội, nhiều người lo sợ có thể bị lây bệnh thông
                        qua hô hấp hoặc sinh hoạt hàng ngày. Tuy nhiên, ung thư nói chung và ung thư phổi nói riêng là bệnh do tế bào đột biến, không phải do vi rút, vi khuẩn gây ra nên bệnh không có khả năng lây nhiễm.
                    </p>
                    <p>
                        Như vậy, bệnh <b>ung thư phổi không lây từ người này sang người khác</b>. Người bị mắc ung thư phổi không phải là nguồn lây nhiễm, không có khả năng truyền bệnh ra môi trường xung quanh. Nguyên nhân chính gây ra ung
                        thư phổi là do hút nhiều thuốc lá, sống trong môi trường ô nhiễm độc hại. Tất cả các thông tin ung thư phổi có thể bị lây đều không có căn cứ.
                    </p>
                </div>
                <h2>3. Ung thư phổi có di truyền không?</h2>
                <figure class="post-image full">
                    <img
                        alt="ung thư phổi"
                        class="full uploaded img-in-body"
                        data-src="/assets/img/20190503_085553_304932_kna1545722282.max-1800x1800.jpg"
                        src="/assets/img/20190503_085553_304932_kna1545722282.max-1800x1800.jpg"
                        lazy="loaded"
                    />
                    <figcaption class="caption"><div class="rich-text">Ung thư phổi có khả năng di truyền</div></figcaption>
                </figure>
                <div class="rich-text">
                    <p></p>
                    <p>
                        Bệnh ung thư phổi không phải là bệnh lây nhiễm nhưng lại có khả năng di truyền. Những người có người thân trong gia đình mắc ung thư phổi có khả năng mắc bệnh cao hơn người bình thường. Đó chính là lý do người thân
                        của bệnh nhân mắc ung thư phổi thường được khuyên nên làm các xét nghiệm tầm soát ung thư định kỳ.
                    </p>
                    <p>
                        <b>Đột biến gen trong cơ thể gây ra ung thư phổi</b> có thể di truyền gia đình. Nhiều trường hợp ở những thế hệ trước các tế bào này không phát triển thành tế bào ung thư nhưng ở đời sau có thêm nhiều tác nhân vật lý
                        khác khiến các tế bào này trở nên nguy hại, tạo thành nguyên nhân gây ung thư phổi.
                    </p>
                    <p>
                        Ngoài ra, ung thư phổi có thể do hút thuốc lá hoặc sống trong môi trường độc hại. Nếu ở chung gia đình, sống và làm việc ở cùng một nơi, tiếp xúc với cùng một loại hóa chất độc hại, hít phải khói thuốc lá từ môi
                        trường xung quanh thì cũng có khả năng mắc bệnh ung thư phổi.
                    </p>
                    <p>
                        Để phòng ngừa ung thư phổi, bên cạnh việc xây dựng lối sống lành mạnh, tránh xa khói thuốc lá, bảo vệ đường hô hấp khỏi khói bụi ô nhiễm,... thì thì việc tầm soát ung thư phổi cũng rất quan trọng, giúp chúng ta phát
                        hiện sớm nhất dấu hiệu ung thư phổi (nếu có) để kịp thời có hướng xử lý.
                    </p>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <span></span>
            </div>
        </div>
    </div>
</div>
