<div class="content col-xs-12 col-md-12 no-paddings-sm" style="font-size: 14px; font-family: arial;">
    
    <div class="detail-header">
        <h1>
            Vì sao bạn bị sưng hạch bạch huyết?
        </h1>
       
        <div class="full-question"></div>
        <div class="question-images">
            <figure class="post-image full loaded-img has-zoomable">
                <img src="/assets/img/20200113_085052_629354_dau-nua-dau-sau-gay.max-800x800.jpg" alt="Đau nửa đầu sau gáy" class="full uploaded img-in-body" />
            </figure>
        </div>
    </div>
    <div class="detail-body clearfix">
        <div class="streamfield">
            <div class="block-content cms">
                <div class="rich-text">
                    <p></p>
                    <p><b>Hạch bạch huyết có vai trò quan trọng trong hệ thống miễn dịch của cơ thể, giúp chống lại nhiễm trùng và bệnh tật. Sưng hạch bạch huyết là tình trạng diễn ra rất phổ biến.</b></p>
                </div>
                <h2>1. Bệnh sưng hạch bạch huyết là gì?</h2>
                <div class="rich-text">
                    <h3><b>1.1 Bệnh sưng hạch bạch huyết</b></h3>
                    <p>Bệnh <b>sưng hạch bạch huyết</b> có thể diễn ra ở mọi lứa tuổi, tuy nhiên, tình trạng này diễn ra phổ biến hơn ở phụ nữ.</p>
                    <p>
                        <b>Sưng hạch huyết</b> là tình trạng các hạch bạch huyết trong cơ thể bị sưng. Hạch bạch huyết có vai trò chống lại nhiễm trùng và bệnh tật trong cơ thể. Khi cơ thể bị nhiễm trùng, cơ thể sẽ sản sinh ra nhiều tế bào
                        miễn dịch hơn. Các tế bào miễn dịch này tăng lên sẽ khiến các hạch bạch huyết sưng lên. Nhiễm trùng và viêm là những nguyên nhân chính khiến <b>hạch bạch huyết bị sưng</b>.
                    </p>
                    <p>Trong cơ thể con người, có <b>vô số hạch bạch huyết</b>, nhưng chỉ trong ít số đó, chúng ta có thể chạm và cảm nhận được. Kích thước của mỗi hạch bạch huyết cũng khác nhau tùy thuộc vào các vị trí khác nhau.</p>
                    <h3><b>1.2. Triệu chứng</b></h3>
                    <p>
                        Bệnh <b>sưng hạch bạch huyết</b> nguy hiểm hay không phụ thuộc vào nguyên nhân gây ra bệnh. Thông thường, khi bị sưng hạch bạch huyết, người bệnh sẽ xuất hiện các triệu chứng sưng và đau ở vị trí hạch bạch huyết
                        sưng. Cụ thể:
                    </p>
                    <ul>
                        <li>Đau khi ấn vào tuyến bị sưng</li>
                        <li>Khu vực sưng nhạy cảm hơn</li>
                        <li>Các hạch sưng rất lớn, to bằng hạt đậu Hà Lan hoặc hơn</li>
                    </ul>
                    <p>
                        Sưng hạch bạch huyết không phải là không nguy hiểm. Nếu nguyên nhân gây ra sưng hạch bạch huyết là ung thư phát triển trong các hạch bạch huyết cũng kích thích chúng sưng to. Một số trường hợp, sưng hạch bạch huyết
                        có thể liên quan <b>u lympho</b> hay
                        <b class="link-in-body" >u lympho không Hodgkin</b>.
                    </p>
                </div>
                <figure class="post-image full has-zoomable loaded-img">
                    <img
                        alt="Sưng hạch bạch huyết"
                        class="full uploaded img-in-body"
                        data-src="/assets/img/20200116_062315_185945_hch.max-1800x1800.jpg"
                        src="/assets/img/20200116_062315_185945_hch.max-1800x1800.jpg"
                        lazy="loaded"
                    />
                    <figcaption class="caption"><div class="rich-text">Sưng hạch bạch huyết</div></figcaption>
                </figure>
                <div class="rich-text">
                    <p></p>
                    <p>
                        Vì vậy, khi thấy các hạch sưng không biến mất, thậm chí là có dấu hiệu lan rộng, người bệnh cần đến các cơ sở ý tế, bệnh viện để được chẩn đoán là điều trị, bởi đó có thể là báo hiệu của khối u hoặc
                        <b>ung thư hạch bạch huyết</b>. Đặc biệt là khi xuất hiện các dấu hiệu sau:
                    </p>
                    <ul>
                        <li>Các <b>hạch sưng mềm</b></li>
                        <li>Sốt không biến mất</li>
                        <li>Đổ mồ hôi vào ban đêm</li>
                        <li>Cân nặng giảm dù không ăn kiêng</li>
                        <li>Đau họng</li>
                        <li>Khó nuốt hoặc thở</li>
                    </ul>
                </div>
                <figure class="post-image full has-zoomable loaded-img">
                    <img
                        alt="Chẩn đoán u hạch bạch huyết bằng siêu âm"
                        class="full uploaded img-in-body"
                        data-src="/assets/img/20191002_065804_491700_20190617_093513_788.max-1800x1800.jpg"
                        src="/assets/img/20191002_065804_491700_20190617_093513_788.max-1800x1800.jpg"
                        lazy="loaded"
                    />
                    <figcaption class="caption"><div class="rich-text">Hạch sưng mềm</div></figcaption>
                </figure>
                <h2>2. Sưng hạch bạch huyết là do đâu?</h2>
                <div class="rich-text">
                    <p></p>
                    <p>
                        Nhiễm trùng và viêm là những nguyên nhân phổ biến gây ra <b>sưng hạch bạch huyết</b>. Tuy nhiên, đó cũng có thể xuất phát từ nguyên nhân <b>ung thư hạch bạch huyết</b>. Thông thường, từ vị trí nổi hạch sẽ giúp bạn
                        xác định nguyên nhân gây ra bệnh.
                    </p>
                    <ul>
                        <li>
                            <b class="link-in-body">Nhiễm trùng tai</b>
                            : Trẻ em là đối tượng dễ bị nhiễm trùng tai hơn người lớn. Phần lớn <b>nhiễm trùng tai</b> là do dị ứng hoặc
                            <b class="link-in-body"> nhiễm trùng đường hô hấp trên</b>
                            .
                        </li>
                        <li>
                            <b class="link-in-body">Nhiễm virus: như </b>
                            <b class="link-in-body" >virus Varicella-zoster</b>
                            , virus gây ra bệnh <b>thủy đậu</b> và herpes zoster;
                            <b class="link-in-body" >Rubella</b>
                            , một loại siêu vi gây
                            <b class="link-in-body">sởi</b>; Virus HIV, gây ra
                            bệnh <b class="link-in-body" >AIDS</b>; Herpes simplex, virus
                            gây ra mụn rộp miệng,
                            <b class="link-in-body">mụn rộp sinh dục</b>
                            và <b>viêm não mụn rộp</b>; <b class="link-in-body">Cúm</b>,
                            <b>siêu vi khuẩn gây bệnh cúm</b>.
                        </li>
                        <li>
                            Nhiễm khuẩn: Streptococcus hoặc Strep, vi khuẩn gây ra chứng viêm họng hoặc
                            <b class="link-in-body">viêm amidan</b>;
                            Staphylococcus hay staph, vi khuẩn gây
                            <b class="link-in-body" >ngộ độc thực phẩm</b>
                            , <b>hội chứng sốc chất độc</b> (TSS) hoặc viêm vú; Mycobacterium tuberculosis, một loại vi khuẩn gây bệnh lao... Các loại vi khuẩn này xâm nhập vào cơ thể có thể gây nhiễm trùng.
                        </li>
                        <li>
                            <b>Nhiễm HIV/AIDS</b>: gây suy giảm hệ miễn dịch của cơ thể, bệnh có xuất hiện triệu chứng cụ thể nên khi điều trị gặp nhiều khó khăn, gây nguy hiểm đến tính mạng người bệnh. Một số dấu hiệu báo hiệu người bệnh
                            có nguy cơ mắc HIV/AIDS như: các <b>hạch bạch huyết bị sưng ở cổ</b>, nách hoặc háng, suy nhược, đau cơ và nhức đầu...
                        </li>
                        <li><b>Nhiễm trùng răng</b></li>
                        <li>Mononucleosis là một bệnh do virus gây ra, khiến người bệnh bị đau họng, sốt, ngứa, vàng da, chảy máu cam và khó thở.</li>
                        <li><b>Nhiễm trùng da</b> là nguyên nhân khá phổ biến khiến hạch bạch huyết sưng và đi kèm các triệu chứng: phát ban, da trở nên đỏ, đau hoặc nóng, ngứa.</li>
                    </ul>
                </div>
                <figure class="post-image full has-zoomable loaded-img">
                    <img
                        alt="HIV"
                        class="full uploaded img-in-body"
                        data-src="/assets/img/20200110_074153_967656_hiv.max-1800x1800.jpg"
                        src="/assets/img/20200110_074153_967656_hiv.max-1800x1800.jpg"
                        lazy="loaded"
                    />
                    <figcaption class="caption"><div class="rich-text">Nhiễm HIV/AIDS gây suy giảm hệ miễn dịch cơ thể</div></figcaption>
                </figure>
                <div class="rich-text">
                    <p></p>
                    <ul>
                        <li>Đau họng có thể do nhiễm virus, nhiễm khuẩn, dị ứng, kích ứng cổ họng, <b>viêm amidan</b> hoặc chấn thương cổ và cổ họng.</li>
                        <li>
                            <b>Rối loạn hệ miễn dịch</b> là một trong những nguyên nhân phổ biến khiến <b>hạch bạch huyết sưng</b>. Tình trạng này thường xuất hiện ở những người có bệnh tự miễn dịch như các bệnh thấp khớp (bệnh thấp khớp)
                            và lupus.
                        </li>
                        <li>
                            Ung thư: <b>Sưng hạch bạch huyết</b> do ung thư rất nguy hiểm đến sức khỏe của người bệnh. Ung thư có thể di căn, tấn công sang các bộ phận khác của cơ thể qua các mạch bạch huyết làm cho hạch bạch huyết bị sưng
                            lên như: <b class="link-in-body" >ung thư da</b>,
                            <b class="link-in-body" >ung thư vú</b>
                            , <b>ung thư bạch cầu</b>, <b class="link-in-body">ung thư phổi</b>,
                            <b class="link-in-body" >ung thư dạ dày</b>
                            , u lympho, u lympho Hodgkin và u lymphoma không Hodgkin.
                        </li>
                        <li>
                            Các bệnh lây truyền qua đường tình dục: ví dụ như bệnh
                            <b class="link-in-body" >giang mai</b>
                            (lion king), bệnh
                            <b class="link-in-body" >lậu</b>
                            và
                            <b class="link-in-body">chlamydia</b>
                            . Tình trạng sưng do nguyên nhân này xảy ra thường xuất hiện ở bẹn.
                        </li>
                    </ul>
                </div>
                <h2>3. Chẩn đoán</h2>
                <div class="rich-text">
                    <p>
                        <br />
                        Để xác định chính xác nhất nguyên nhân gây ra sưng hạch bạch huyết và có phương pháp điều trị hiệu quả, người bệnh cần nhận được sự tư vấn của bác sĩ. Hiện nay có một số phương pháp chẩn đoán phổ biến:
                    </p>
                    <ul>
                        <li>Tiền sử bệnh của người bệnh</li>
                        <li>Khám sức khỏe</li>
                        <li>Thử máu</li>
                        <li>Quét X-quang ngực hoặc chụp CT</li>
                        <li><b>Sinh thiết hạch bạch huyết</b></li>
                    </ul>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
               
        </div>
    </div>
</div>
