<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="toogle.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">Cancer Helper</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->

  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>build_circle</mat-icon>Quản trị</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openAccountModal()">Đổi thông tin cá nhân</button>
    <button mat-menu-item (click)="logout()">Đăng xuất</button>
  </mat-menu> 

</mat-toolbar>