<div>
    <div class="page-title-single">
        <h1>
            <span>Dấu hiệu nhận biết sớm ung thư phổi</span>
        </h1>
    </div>
    
    <div class="page-content">s
        <strong style="font-size: 20px; font-weight: 500; line-height: 1.4;">
            <span id="BodyContent_ctl00_ctl01_newsContent">
                Tại Việt Nam ung thư phổi đứng hàng thứ nhất trong 10 loại ung thư thường gặp trên cả hai giới và là nguyên nhân gây tử vong hàng đầu. Nhưng nếu phát hiện sớm thì bạn có thể có phương pháp điều trị hiệu quả hơn rất nhiều.
            </span>
        </strong>
        <br />
    
        <div style="text-align: justify;">
            <span style="font-size: 14px; font-family: arial;">
                Ung thư phổi là loại ung thư thường gặp và ngày càng có xu hướng gia tăng. Gần đây, bệnh xuất hiện ở những người trẻ tuổi nhiều hơn, chiếm tỷ lệ khoảng 12% tổng số ung thư các loại tính chung trên toàn thế giới.
            </span>
            <br />
        </div>
        <div style="text-align: justify;">
            <span style="font-size: 14px; font-family: arial;"> </span><br />
            <span style="font-size: 14px; font-family: arial;"> </span><span style="font-size: 14px; font-family: arial;"><strong>Các yếu tố gây nguy cơ ung thư phổi</strong></span><br />
            <span style="font-size: 14px; font-family: arial;"> Giới tính</span><br />
            <span style="font-size: 14px; font-family: arial;">
                Ung thư phổi chiếm ưu thế ở nam giới 50-75 tuổi. Tại các nước phương Tây, tỷ lệ ung thư phổi ở nam giới của vài quốc gia những năm gần đây không gia tăng trong khi tỷ lệ ung thư phổi có chiều hướng gia tăng ở phụ nữ.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;"> Địa lý</span><br />
            <span style="font-size: 14px; font-family: arial;">
                Tỷ lệ ung thư phổi thay đổi tùy theo vùng địa lý trên thế giới. Các nước châu Phi có tỷ lệ thấp hơn 5%. Tỷ lệ này khoảng 5-10% ở châu Á và Nam Mỹ. Châu Âu và Bắc Mỹ có tỷ lệ ung thư phổi cao nhất 10-15%.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;"> Thuốc lá</span><br />
            <span style="font-size: 14px; font-family: arial;">
                Đa số ung thư phổi xuất hiện ở những người đã và đang hút thuốc lá (80%) cộng thêm 5% ước tính do hậu quả của sự tiếp xúc thụ động với khói thuốc lá. Mức độ nặng nhẹ của sự tiếp xúc với khói thuốc tùy thuộc vào số năm mà người
                đó đã hút thuốc, số điếu thuốc hút trong ngày và phần nhựa có trong điếu thuốc.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;"> Có 10 đến 13% người nghiện thuốc lá có nguy cơ ung thư phổi với một thời kỳ tiềm ẩn từ 30 đến 40 năm tính từ lúc mới bắt đầu hút thuốc cho đến khi xuất hiện ung thư phổi.</span>
            <br />
        </div>
        <span style="font-size: 14px; font-family: arial;">
            <br />
        </span>
        <div style="text-align: center;">
            <p style="text-align: center;">
                <span style="font-size: 14px; font-family: arial;"><img alt="" src="https://files.benhvien108.vn/ungthu2.jpg" style="width: 600px; height: 377px; border-width: 0px; border-style: solid;" /></span>
            </p>
            <span style="font-size: 14px; font-family: arial;">
                <em>
                    Trên 80% người bị ung thư phổi <span style="font-size: 14px; font-family: arial;"><em>có hút thuốc lá</em></span>. Tỷ lệ mắc ung thư phổi của người hút thuốc lá so với những người không hút cao hơn gấp 10 lần. (Ảnh:
                    telegraph)
                </em>
                <br />
            </span>
        </div>
        <span style="font-size: 14px; font-family: arial;">
            <br />
            Nghề nghiệp<br />
        </span>
        <div style="text-align: justify;">
            <span style="font-size: 14px; font-family: arial;">
                Chất sinh ung asbestos trong một vài loại nghề nghiệp (ví dụ như nghề mài má phanh xe) là yếu tố nguy cơ mắc ung thư phổi. Công nhân làm việc ở một số mỏ có nguy cơ ung thư phổi cao hơn như mỏ phóng xạ uranium, mỏ kền, mỏ
                cromate, công nhân làm việc trong một số ngành nghề có tiếp xúc amiant, công nghiệp hóa dầu, công nghiệp nhựa, khí đốt. Việc tiếp xúc với khí radon, các ô nhiễm không khí từ kỹ nghệ kim loại nặng và môi trường ô nhiễm khói thuốc
                có liên quan đến sự xuất hiện ung thư phổi.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;">
                <br />
                Các bệnh ở phế quản phổi
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;">
                Ung thư phổi xảy ra trên những sẹo xơ là vấn đề đã đề cập khá nhiều. Các sẹo xơ thường là do lao, nhồi máu phổi, viêm phổi hoặc bệnh bụi phổi. Cơ chế gây bệnh chưa rõ nhưng người ta cho rằng sự xơ hóa làm tắc nghẽn mạch bạch
                huyết gây tích tụ các chất sinh ung có thể dẫn đến ung thư.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;"> Ô nhiễm không khí: do hơi đốt ở gia đình, xí nghiệp, hơi xả ra từ các động cơ.</span><br />
            <span style="font-size: 14px; font-family: arial;"> Di truyền: chưa được chứng minh, nhưng có thể có yếu tố gia đình liên quan đến một số đột biến gene.</span><br />
            <span style="font-size: 14px; font-family: arial;">
                <br />
                <strong>Những dấu hiệu sớm phát hiện ung thư phổi</strong>
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;">
                Bệnh nhân cần được khám lâm sàng một cách tỉ mỉ, đối với các bệnh nhân đã biết rõ hoặc nghi ngờ ung thư phổi vì những biểu hiện đa dạng của diễn tiến tại chỗ - tại vùng và di căn xa.<br />
                <br />
            </span>
            <span style="font-size: 14px; font-family: arial;">
                Ung thư trong nhu mô phổi không gây đau đớn thế nên thường khi bệnh diễn tiến xa mới có các triệu chứng xuất hiện. Các triệu chứng xuất hiện vào lúc chẩn đoán ung thư phổi tùy thuộc vào vị trí và kích thước của khối bướu, của
                bất kỳ ổ di căn nào cũng như mức độ xâm lấn đến các cơ quan, sự xuất hiện ngẫu nhiên của dấu hiệu tiền ung thư.<br />
                <br />
            </span>
            <span style="font-size: 14px; font-family: arial;"> Ho nhiều</span><br />
            <span style="font-size: 14px; font-family: arial;">
                Các triệu chứng thường gặp là ho, chiếm khoảng 70% các trường hợp, khó thở, ho ra máu, viêm phổi tái diễn, đau ngực. Có thể kèm triệu chứng khan tiếng, do khối bướu xâm lấn trực tiếp hay do các hạch bạch huyết ở trung thất bị di
                căn và làm liệt dây thanh âm.
            </span>
            <br />
        </div>
        <span style="font-size: 14px; font-family: arial;">
            <br />
        </span>
        <div style="text-align: center;">
            <p style="text-align: center;">
                <span style="font-size: 14px; font-family: arial;"><img alt="" src="https://files.benhvien108.vn/ungthu3.jpg" style="width: 450px; height: 270px; border-width: 0px; border-style: solid;" /></span>
            </p>
            <span style="font-size: 14px; font-family: arial;"><br /> </span>
        </div>
        <div style="text-align: justify;">
            <span style="font-size: 14px; font-family: arial;">Đau tay, vai và các ngón tay</span><br />
            <span style="font-size: 14px; font-family: arial;">
                Khi bướu ở tại đỉnh phổi, hiện tượng xâm lấn thành ngực và mạng thần kinh cánh tay gây đau cánh tay và đau vai kèm dị cảm da. Nhóm triệu chứng này được gọi là hội chứng Pancoast. Khi ung thư ở đỉnh phổi đã gieo rắc và xâm lấn hệ
                thần kinh giao cảm, hội chứng Horner xuất hiện với triệu chứng sụp mi cùng bên tổn thương (sa mí mắt), đồng tử co lại, lõm mắt (mắt thụt vào trong hốc mắt) và không bài tiết mồ hôi ở phía mặt cùng bên tổn thương.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;"> Sụt cân</span><br />
            <span style="font-size: 14px; font-family: arial;">
                Trong bất kì trường hợp nào, sự sụt cân diễn ra nhanh chóng mà không rõ nguyên nhân, không liên quan đến việc bạn đã cắt giảm calo hoặc tập thể dục... thì rất có thể là do bệnh tật gây ra, kể cả bệnh ung thư. Thêm vào đó, nếu
                bạn cảm thấy ăn không ngon miệng thì càng dễ kết luận nguyên nhân có thể là do một khối u bên trong cơ thể bạn gây ra, không ngoại trừ khối u ở phổi, dẫn đến ung thư phổi sau này. Khối u này sẽ là tăng đột ngột sự trao đổi chất
                trong cơ thể bạn và gây ra tình trạng trên.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;"> Thường xuyên bị nhiễm trùng</span><br />
            <span style="font-size: 14px; font-family: arial;">
                Ung thư phổi có thể gây ra tình trạng nhiễm trùng ảnh hưởng đến đường hô hấp và dẫn đến các bệnh như viêm phế quản hoặc các bệnh nhiễm trùng mãn tính khác. Nếu bạn bị nhiễm trùng phổi mãn tính, bạn nên dành thời gian đi chụp
                X-quang phổi để biết mình có nguy cơ bị ung thư phổi hay không.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;"> Bất thường ở các mô vú</span><br />
            <span style="font-size: 14px; font-family: arial;">
                Dấu hiệu này thường gặp ở nam giới nhiều hơn. Đó là tình trạng vùng ngực to lên bất thường do các tế bào bệnh ung thư kích thích sự tiết nội tiết tố một cách bất thường. Tuy nhiên, chị em cũng không nên bỏ qua điều này, vì rất
                có thể đó là do các tế bào ung thư phổi hoặc ung th ở bộ phận khác gây ra.
            </span>
            <br />
        </div>
        <div style="text-align: justify;">
            <span style="font-size: 14px; font-family: arial;"> Những dấu hiệu tiền ung thư</span><br />
            <span style="font-size: 14px; font-family: arial;">
                Những dấu hiệu tiền ung thư rõ rệt gặp ở khoảng 10% bệnh nhân ung thư phổi. Tổng trạng bệnh nhân suy giảm do yếu tố hoại tử bướu. Bệnh lý xương khớp phì đại do phổi có lẽ do thiếu oxy mạn tính, biểu hiện bởi hiện tượng ngón tay
                dùi trống. Ngón tay dùi trống gồm sự gia tăng kích thước cả bề ngang các móng của ngón tay lẫn bề mặt lồi của ngón tay nhìn nghiêng. Các hội chứng khác gồm có rối loạn đông máu, các biểu hiện của da, thần kinh, nội tiết, thận và
                hệ cơ.
            </span>
            <br />
        </div>
        <span style="font-size: 14px; font-family: arial;">
            <br />
        </span>
        <div style="text-align: center;">
            <p style="text-align: center;">
                <span style="font-size: 14px; font-family: arial;"><img alt="" src="https://files.benhvien108.vn/ungthu4.jpg" style="width: 450px; height: 446px; border-width: 0px; border-style: solid;" /></span>
            </p>
            <span style="font-size: 14px; font-family: arial;"><br /> </span>
        </div>
        <div style="text-align: justify;">
            <span style="font-size: 14px; font-family: arial;">Ba loại xét nghiệm được đề cập nhiều nhất là cho việc tầm soát là chụp X-quang phổi, xét nghiệm tìm tế bào ung thư từ chất đàm, chụp cắt lớp điện toán ngực (CT Scan).</span><br />
            <span style="font-size: 14px; font-family: arial;">
                Tuy nhiên việc tầm soát cũng chỉ nhắm vào các đối tượng có nguy cơ cao. Theo các hướng dẫn từ Hiệp hội ung thư Mỹ khuyến cáo nên CT Scan hàng năm cho các đối tượng như tuổi 55-74 tuổi, hút thuốc trên 30 gói thuốc/năm hoặc đang
                hút thuốc hay đã ngưng hút thuốc trong vòng 15 năm trở lại.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;">
                <br />
                Bên cạnh những thuận lợi từ việc tầm soát và phát hiện sớm ung thư phổi như khả năng trị khỏi, giảm nguy cơ tử vong nhưng cũng có những bất lợi như:
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;">
                • Các nghiên cứu cho thấy những tổn thương bất thường khi phát hiện được cần phải có những bước để đánh giá tiếp theo, như các thầy thuốc sẽ dùng kim nhỏ chọc hút vào khối bướu hay đôi khi phải mổ để có được chẩn đoán chính xác,
                điều đó có thể gây ra tai biến không mong muốn trong khi phần lớn các bướu lại là lành tính.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;">
                • Chụp X-quang làm tăng nguy cơ phơi nhiễm chất phóng xạ dẫn đến ung thư, đặc biệt là ung thư phổi, cuối cùng khi kéo dài thời gian theo dõi các tổn thương ở phổi sẽ gây nên tâm trạng lo lắng cho người bệnh.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;">
                <br />
                <strong>Phòng ngừa ung thư phổi</strong>
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;"> Bỏ thuốc lá</span><br />
            <span style="font-size: 14px; font-family: arial;">
                Độ tuổi bắt đầu hút thuốc, thời gian hút thuốc, số lượng điếu thuốc hút mỗi ngày, chủng loại thuốc lá… đều có mối liên quan chặt chẽ đến ung thư phổi. Hút thuốc lá là nguyên nhân chủ yếu dẫn đến ung thư, bỏ thuốc lá có thể giảm
                rõ rệt tỷ lệ mắc ung thư phổi.
            </span>
            <br />
            <span style="font-size: 14px; font-family: arial;">
                <br />
                Tỷ lệ mắc ung thư phổi của người hút thuốc lá so với những người không hút cao hơn gấp 10 lần. Do đó việc cần nhấn mạnh đầu tiên để phòng tránh ung thư phổi là bỏ thuốc lá và cũng tránh xa những làn khói thuốc xung quanh.
            </span>
            <br />
        </div>
        <span style="font-size: 14px; font-family: arial;">
            <br />
        </span>
        <div style="text-align: center;">
            <p style="text-align: center;">
                <span style="font-size: 14px; font-family: arial;"><img alt="" src="https://files.benhvien108.vn/ungthu5.jpg" style="width: 600px; height: 336px; border-width: 0px; border-style: solid;" /></span>
            </p>
            <span style="font-size: 14px; font-family: arial;"><br /> </span>
        </div>
        <span style="font-size: 14px; font-family: arial;">
            Tập thể dục thường xuyên<br />
            Các vận động thể lực kể cả các hoạt động đơn giản như làm vườn 2 lần 1 tuần có thể giúp bạn giảm nguy cơ mắc ung thư phổi.<br />
            <br />
            Chế độ ăn giàu rau xanh và hoa quả<br />
            Phòng tránh ung thư phổi nên bổ sung nhiều rau xanh, hoa quả tươi. Hãy ăn các loại rau đa dạng, nhiều màu sắc khác nhau như súp lơ, rau chân vịt, hành, táo, cà chua, cam… Những thực phẩm này không chỉ có thể phòng bệnh hiệu quả mà
            còn rất tốt cho những bệnh mạn tính như cao huyết áp, tiểu đường, bệnh tim mạch vành…<br />
            <br />
            Tránh tiếp xúc với phóng xạ và kim loại nặng<br />
            Đối với những công nhân làm việc trong môi trường rò rỉ hóa chất cũng phải áp dụng những biện pháp bảo hộ hiệu quả, tránh hoặc giảm tối thiểu việc tiếp xúc với những yếu tố độc hại gây ung thư.<br />
            <br />
        </span>
        <div class="clearfix margin-bottom-10" style="margin-bottom: 10px;"></div>
    </div>
    
</div>