<div class="content col-xs-12 col-md-12 no-paddings-sm" style="font-size: 14px; font-family: arial;">
    <div class="detail-header">
        <h1>
            Ung thư là gì? Sự khác biệt giữa tế bào ung thư và tế bào bình thường
        </h1>
        <div class="full-question"></div>
        <div class="question-images">
            <figure class="post-image full loaded-img"><img src="/assets/img/20190625_041015_671732_ung-thu.max-800x800.jpg" alt="Ung thư" class="full uploaded img-in-body" /></figure>
        </div>
    </div>
    <div class="detail-body clearfix">
        <div class="streamfield">
            <div class="block-content cms">
                <div class="rich-text">
                    <p>
                        <b>Bài viết được tư vấn chuyên môn bởi Bác sĩ chuyên khoa II Đỗ Tường Huân</b> - <b>Bác sĩ ung bướu -</b>
                        <b class="link-in-body" >Trung tâm Ung bướu - Bệnh viện Đa khoa Quốc tế Vinmec Central Park</b>
                        <b>.</b>
                    </p>
                </div>
                <span></span>
                <div class="rich-text">
                    <p>
                        <b>
                            Ung thư là tên gọi chung của một tập hợp các bệnh có liên quan. Trong bất kỳ bệnh ung thư nào cũng đều có sự xuất hiện của các tế bào bất thường, vốn là những tế bào bình thường của cơ thể, nhưng nay phân chia,
                            nhân lên mất kiểm soát, xâm lấn các mô xung quanh và có thể di căn đi xa.
                        </b>
                    </p>
                </div>
                <h2>1. Ung thư là gì?</h2>
                <div class="rich-text">
                    <p>
                        Ung thư có thể xuất hiện ở gần như bất kỳ đâu trong một ngàn tỷ tế bào của cơ thể. Bình thường, các tế bào lớn lên và phân chia để hình thành tế bào mới, là cách thức mà cơ thể người sinh trưởng và phát triển. Tất
                        yếu, các tế bào cũ sẽ dần già đi hoặc bị tổn hại, chết đi, và được thay thế bởi các tế bào mới.
                    </p>
                    <p>
                        Khi <b>ung thư </b>xuất hiện, quá trình tự nhiên bị phá vỡ. Các tế bào ngày càng trở nên bất thường, các tế bào già cũ không chết đi mà tiếp tục phát triển, liên tục sản sinh các tế bào mới. Chúng cứ thế nhân lên
                        không kiểm soát, và cuối cùng tạo thành khối bất thường mà chúng ta gọi là khối u.
                    </p>
                    <p>Rất nhiều loại ung thư hình thành khối u đặc, đa số có bản chất là các khối mô đặc. Các loại ung thư máu, ví dụ như leukemia, lại thường không xuất hiện dưới hình thức u đặc.</p>
                    <p>
                        Các khối u trong ung thư có tính chất ác tính, có nghĩa là chúng có khả năng xâm lấn ra xung quanh. Trong quá trình phát triển lớn lên, các tế bào ung thư có thể đi xa tới các vùng khác của cơ thể thông qua hệ tuần
                        hoàn hoặc hệ bạch huyết, hình thành khối u mới tách biệt hoàn toàn với khối u ban đầu, gọi là di căn.
                    </p>
                    <p>
                        Không giống các khối u ác tính, u lành tính không có tính xâm lấn, dù đôi khi u lành tính cũng có kích thước rất lớn. Khi loại bỏ u bằng phẫu thuật, u lành tính thường không tái phát (trong khi u ác tính rất hay tái
                        phát). Tuy nhiên không phải lúc nào u lành tính cũng vô hại, ví dụ như trường hợp u não lành tính có thể đe dọa tính mạng bệnh nhân.
                    </p>
                </div>
                <h2>2. Sự khác nhau giữa tế bào bình thường và tế bào ung thư</h2>
                <div class="rich-text">
                    <p>
                        <b>Tế bào ung thư </b>khác biệt hẳn so với tế bào bình thường ở nhiều phương diện, điều đó cho phép chúng có khả năng nhân lên vô hạn và xâm lấn ra xung quanh. Một điểm khác biệt rất quan trọng giữa
                        <b> tế bào ung thư</b> và tế bào bình thường, là <b>tế bào ung thư</b> kém biệt hóa hơn. Trong khi các tế bào bình thường sinh ra, lớn lên, trưởng thành và biệt hóa thành các loại tế bào khác nhau đảm nhiệm các chức
                        năng khác nhau, <b>tế bào ung thư</b> lại kém hoặc không biệt hóa. Và đó là lí do giải thích tại sao <b>tế bào ung thư</b> lại có thể phân chia, nhân lên vô độ - điều mà tế bào bình thường không có.
                    </p>
                    <p>
                        Thêm nữa,<b> tế bào ung thư </b>không bị ảnh hưởng bởi “hiệu lệnh” dừng phân chia của cơ thể, và chúng cũng thoát khỏi một quá trình gọi là “chết theo chương trình” (apoptosis) - vốn là cách cơ thể đào thải những tế
                        bào không cần thiết.
                    </p>
                    <p>
                        Các tế bào ung thư có thể tác động vào vi môi trường xung quanh nó, bao gồm các tế bào bình thường, các phân tử và các mạch máu nuôi dưỡng xung quanh khối u. Nghĩa là, các tế bào ung thư có khả năng kích thích các tế
                        bào bình thường hình thành các mạch máu nhằm cung cấp ô xy, chất dinh dưỡng và đào thải chất cặn bã để nuôi dưỡng, phát triển khối u.
                    </p>
                    <p>
                        Các <b>tế bào ung thư </b>cũng có khả năng qua mặt hệ miễn dịch của cơ thể. Bình thường hệ miễn dịch của cơ thể con người có nhiệm vụ chống lại sự viêm nhiễm, cũng như đào thải những tế bào bất thường hoặc những tế
                        bào đã bị hư hại. Tuy nhiên <b>tế bào ung thư</b> lại có khả năng “ẩn mình” trước hệ miễn dịch của cơ thể, qua đó không bị tiêu diệt.
                    </p>
                    <p>
                        Không những qua mặt hệ miễn dịch, khối u còn có thể sử dụng hệ miễn dịch để tồn tại và phát triển. Ví dụ khối u có thể lợi dụng một số tế bào miễn dịch phát tín hiệu giả, nhờ đó mà hệ miễn dịch sẽ không tiến hành
                        loại bỏ những <b>tế bào ung thư</b>.
                    </p>
                </div>
                <figure class="post-image mid has-zoomable loaded-img">
                    <img
                        alt="Ung thư"
                        class="mid uploaded img-in-body"
                        data-src="/assets/img/20190625_041412_525036_ung-thu.max-1800x1800.jpg"
                        src="/assets/img/20190625_041412_525036_ung-thu.max-1800x1800.jpg"
                        lazy="loaded"
                    />
                    <figcaption class="caption"><div class="rich-text">Hình ảnh so sánh tế bào thường và tế bào ung thư</div></figcaption>
                </figure>
                <h2>3. Khi ung thư xâm lấn và di căn</h2>
                <div class="rich-text">
                    <p>
                        Ung thư có khả năng xâm lấn ra xung quanh, và đặc biệt, hình thành khối u mới ở một vị trí cách biệt hoàn toàn so với vị trí của khối u ban đầu, gọi là <b>ung thư di căn</b>. Quá trình tế bào ung thư di chuyển tới vị
                        trí khác để hình thành khối u mới gọi là di căn.
                    </p>
                    <p>
                        Tên của <b>ung thư di căn</b> cũng như loại <b>tế bào ung thư di căn</b> hoàn toàn giống với ung thư ban đầu. Ví dụ, ung thư vú tạo các khối u di căn tại phổi, sẽ có tên gọi là ung thư vú di căn, không phải ung thư
                        phổi.
                    </p>
                    <p>
                        Về mặt giải phẫu bệnh, các <b>tế bào ung thư di căn</b> thường giống như tế bào ung thư ở khối u ban đầu. Hơn nữa, ở cấp độ phân tử, <b>tế bào ung thư di căn</b> và tế bào ung thư ở khối u ban đầu cũng giống nhau,
                        chẳng hạn như có cùng sự biến đổi trên nhiễm sắc thể.
                    </p>
                    <p>
                        Quá trình điều trị có thể giúp kéo dài sự sống cho những bệnh nhân bị <b>ung thư di căn</b>. Thông thường mục đích điều trị nhắm tới việc kiểm soát sự phát triển của ung thư cũng như giảm nhẹ các triệu chứng mà nó
                        gây ra. Các khối u di căn có thể gây ra những biến chứng nghiêm trọng, và đa số bệnh nhân ung thư tử vong là do các hậu quả của di căn.
                    </p>
                </div>
                <h2>4. Những thay đổi của mô tế bào mà không phải ung thư</h2>
                <div class="rich-text">
                    <p>
                        Không phải cứ có sự thay đổi của mô tế bào nghĩa là đã bị ung thư, mặc dù có những thay đổi nếu không được điều trị sẽ có khả năng tiến triển thành ung thư. Sau đây là một số ví dụ về những thay đổi của mô tế bào
                        không phải là ung thư, nhưng cần được theo dõi trong một số trường hợp:
                    </p>
                    <ul>
                        <li>
                            Tăng sản: xảy ra khi các tế bào trong một mô phân chia nhanh hơn bình thường, dẫn tới số lượng tế bào tăng nhanh. Tuy nhiên về mặt giải phẫu bệnh, tổ chức mô và tế bào vẫn bình thường. Tăng sản do nhiều nguyên
                            nhân và điều kiện gây ra, trong đó có các kích thích mạn tính.
                        </li>
                        <li>
                            Loạn sản: là tình trạng nghiêm trọng hơn so với tăng sản. Trong loạn sản, không những số lượng tế bào tăng nhanh, mà về mặt giải phẫu bệnh, mô và tế bào cũng trở nên bất thường. Và nếu độ bất thường càng lớn, thì
                            nguy cơ tiến triển thành ung thư càng cao. Một số loại loạn sản cần được theo dõi và điều trị, ví dụ: một nốt ruồi bất thường trên da (loạn sản hắc tố) có thể tiến triển thành ung thư hắc tố (dù phần lớn trường
                            hợp sẽ không xảy ra như vậy).
                        </li>
                        <li>
                            Trường hợp nghiêm trọng hơn nữa là carcinoma tại chỗ (carcinoma in situ). Dù đôi lúc nó được gọi là ung thư, nhưng về bản chất nó chưa phải ung thư, bởi những tế bào bất thường không xâm lấn quá khỏi màng đáy của
                            mô khởi đầu, nghĩa là nó không xâm lấn ra xung quanh như các tế bào ung thư. Tuy nhiên carcinoma tại chỗ dễ tiến triển thành ung thư nên cần được điều trị.
                        </li>
                    </ul>
                </div>
                <h2>5. Các loại ung thư</h2>
                <div class="rich-text">
                    <p>
                        Hiện nay có hơn 100 loại ung thư khác nhau. Việc đặt tên cho các loại ung thư thường dựa vào mô hoặc cơ quan nơi ung thư khởi phát, ví dụ: ung thư phổi khởi phát từ các tế bào phổi. Bên cạnh đó, tên ung thư cũng dựa
                        vào loại tế bào hình thành nên, ví dụ như tế bào biểu mô hay tế bào vảy.
                    </p>
                    <p>Dưới đây là một số loại ung thư khởi phát từ những loại tế bào nhất định:</p>
                    <h3>5.1 Carcinoma</h3>
                    <p>
                        Carcinoma là loại ung thư phổ biến nhất. Nó được khởi phát từ các tế bào biểu mô, là những tế bào bao phủ bề mặt phía trong và phía ngoài của cơ thể. Có rất nhiều loại tế bào biểu mô khác nhau, và do đó mỗi loại
                        carcinoma có một tên riêng:
                    </p>
                    <ul>
                        <li>
                            Adenocarcinoma là ung thư hình thành từ tế bào biểu mô chế tiết dịch và chất nhầy. Các mô chứa tế bào biểu mô dạng này thường được gọi là mô tuyến. Đa số ung thư vú, đại tràng, và tuyến tiền liệt là
                            adenocarcinoma.
                        </li>
                        <li>Carcinoma tế bào đáy (Basal cell carcinoma) là loại ung thư bắt nguồn từ lớp tế bào đáy của biểu bì - lớp ngoài cùng của da người.</li>
                        <li>
                            Carcinoma tế bào vảy (Squamous cell carcinoma) là ung thư hình thành từ tế bào vảy, là một loại tế bào biểu mô của da, tuy nhiên tế bào vảy cũng hiện diện ở nhiều cơ quan khác, như đường tiêu hóa, phổi, bàng
                            quang, thận,... Dưới kính hiển vi, tế bào vảy có dạng dẹt, giống vảy cá. Carcinoma tế bào vảy đôi khi còn được gọi là carcinoma dạng biểu bì.
                        </li>
                        <li>
                            Carcinoma tế bào chuyển tiếp (Transitional cell carcinoma) là loại ung thư hình thành từ mô biểu mô có tên mô chuyển tiếp. Loại mô này được tạo bởi rất nhiều lớp tế bào biểu mô lớn nhỏ khác nhau, xuất hiện ở các
                            cơ quan như bàng quang, niệu quản, bể thận, và một vài cơ quan khác. Một số ung thư của bàng quang, niệu quản, thận thuộc loại carcinoma tế bào chuyển tiếp.
                        </li>
                    </ul>
                </div>
                <figure class="post-image full has-zoomable loaded-img">
                    <img
                        alt="Carcinoma"
                        class="full uploaded img-in-body"
                        data-src="/assets/img/20190625_041802_221004_ung-thu-vu.max-1800x1800.png"
                        src="/assets/img/20190625_041802_221004_ung-thu-vu.max-1800x1800.png"
                        lazy="loaded"
                    />
                    <figcaption class="caption"><div class="rich-text">Đa số ung thư vú là adenocarcinoma</div></figcaption>
                </figure>
                <div class="rich-text">
                    <h3>5.2 Sarcoma</h3>
                    <p>Sarcoma là những ung thư hình thành trong xương và mô mềm, bao gồm cơ, mỡ, mạch máu, mạch bạch huyết, và mô xơ (chẳng hạn như gân và dây chằng).</p>
                    <p>Osteosarcoma là loại ung thư xương phổ biến nhất.</p>
                    <p>Sarcoma mô mềm hay gặp nhất là sarcoma cơ trơn (leiomyosarcoma), sarcoma Kaposi, u mô bào sợi ác (malignant fibrous histiocytoma), sarcoma mỡ (liposarcoma), và sarcom sợi bì lồi (dermatofibrosarcoma protuberans).</p>
                    <h3>5.3 Leukemia</h3>
                    <p>
                        Bệnh bạch cầu (Leukemia) là ung thư bắt nguồn từ những mô tạo huyết của tủy xương. Những ung thư này không hình thành khối u đặc. Thay vào đó, một lượng khổng lồ tế bào bạch cầu bất thường hiện diện trong máu và tủy
                        xương, lấn át các tế bào máu bình thường, dẫn tới nhiều hậu quả như các mô bị thiếu cung cấp ô xy, quá trình đông máu rối loạn, cơ thể dễ nhiễm khuẩn,...
                    </p>
                    <p>Có bốn loại bệnh bạch cầu (leukemia) hay gặp, được phân nhóm dựa trên tính chất cấp tính hay mạn tính, và loại tế bào máu mà ung thư khởi phát.</p>
                    <h3>5.4 Lymphoma</h3>
                    <p>
                        Lymphoma là loại ung thư bắt nguồn từ các tế bào lympho (tế bào T và tế bào B). Những tế bào bạch cầu này thuộc hệ miễn dịch, có vai trò chống lại sự nhiễm khuẩn. Với lymphoma, các tế bào lympho bất thường xuất hiện
                        ngày càng nhiều trong các hạch bạch huyết và hệ bạch huyết cũng như ở các cơ quan khác trong cơ thể.
                    </p>
                    <p>Lymphoma có hai loại chính:</p>
                    <p>Lymphoma Hodgkin: trong loại lymphoma này có sự xuất hiện của một loại tế bào lympho bất thường tên là Reed - Sternberg (thường có nguồn gốc từ tế bào B).</p>
                    <p>Lymphoma không Hodgkin: gồm một tập hợp lớn những ung thư khởi phát từ các tế bào lympho, có thể là tế bào B hoặc tế bào T. Tiến triển của bệnh nhanh hay chậm tùy từng bệnh.</p>
                    <h3>5.5 Đa u tủy xương (Multiple myeloma)</h3>
                    <p>Đa u tủy xương là ung thư khởi nguồn từ tương bào - một loại tế bào miễn dịch. Tương bào bất thường sinh ra từ tủy xương và hình thành khối u trong xương. Đa u tủy xương còn có tên khác là bệnh Kahler.</p>
                    <h3>5.6 Ung thư hắc tố (Melanoma)</h3>
                    <p>Ung thư hắc tố bắt nguồn từ các tế bào hắc tố, là những tế bào chuyên sản sinh ra melanin - chất tạo nên màu sắc da. Đa số ung thư hắc tố xuất hiện trên da, nhưng cũng có thể xuất hiện tại những mô khác như mắt.</p>
                    <h3>5.7 U não và tủy sống</h3>
                    <p>
                        Có rất nhiều loại u não và tủy sống khác nhau. Tên của khối u được đặt dựa trên loại tế bào tạo nên u và vị trí khởi phát đầu tiên của u trong hệ thần kinh trung ương, ví dụ như u tế bào sao bắt nguồn từ những tế bào
                        thần kinh đệm hình sao. Các khối u não có thể lành tính hoặc ác tính (ung thư).
                    </p>
                </div>
                <figure class="post-image full">
                    <img
                        alt="U não"
                        class="full uploaded img-in-body"
                        data-src="/assets/img/20190608_050556_946571_u-nao.max-1800x1800.jpg"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        lazy="loading"
                    />
                    <div class="loader loading"><div class="spinner"></div></div>
                    <figcaption class="caption"><div class="rich-text">Hình ảnh u não</div></figcaption>
                </figure>
                <div class="rich-text">
                    <h3>5.8 Các loại khối u khác</h3>
                    <p><b>U tế bào mầm (Germ Cell Tumors)</b></p>
                    <p>U tế bào mầm là loại u có nguồn gốc từ những tế bào mà sau này phát triển thành trứng hoặc tinh trùng. Những khối u này có thể xuất hiện tại bất kỳ đâu trong cơ thể và cũng có thể là lành tính hoặc ác tính.</p>
                    <p><b>U thần kinh nội tiết (Neuroendocrine tumors)</b></p>
                    <p>
                        U thần kinh nội tiết hình thành từ những tế bào chế tiết nội tiết tố vào trong máu để đáp ứng lại các tín hiệu thần kinh. Những khối u này (có thể lành tính hoặc ác tính) sẽ chế tiết nhiều nội tiết tố hơn bình
                        thường, gây ra nhiều triệu chứng khác nhau.
                    </p>
                    <p><b>U carcinoid</b></p>
                    <p>
                        U carcinoid là một loại u thần kinh nội tiết. Chúng phát triển chậm, thường được tìm thấy trong đường tiêu hóa (đặc biệt là trực tràng và tiểu tràng). U carcinoid có thể lan tới gan và những nơi khác trong cơ thể, và
                        tiết ra các chất như serotonin hay prostaglandin, gây nên hội chứng carcinoid.
                    </p>
                    <p><b>Nguồn tham khảo: Cancer.gov</b></p>

                    <br/>
                    <br/>
                    <br/>
                </div>
                <span></span>
            </div>
        </div>

    
    </div>
</div>
