<div class="index">
    <div class="header" (click)="openModal()">
        <img class="avatar" src="/assets/img/avatar.png" width="25px" height="25px" />
        <span>Bạn có câu hỏi gì hôm nay không {{fullName}}? </span>
    </div>
    <div class="content" *ngFor="let question of questions">
        <a [routerLink]="['/question-details', question.id]">
            <img class="icon" src="/assets/img/icon.png" width="25px" height="25px" />
            <h4 id="mtext">{{question.title}}</h4>
        </a>
        <br />
        <img class="avatar" src="/assets/img/avatar.png" width="35px" height="35px" />
        <h6>{{question.owner.fullName}}</h6>
        <br />
        <span class="text">
            {{question.content}}
        </span>

        <button *ngIf="currentUserId === question.owner.id" mat-icon-button class="example-icon" aria-label="update answer" (click)="onUpdateQuestion(question)">
            <mat-icon>create</mat-icon>Update
        </button>

        <button *ngIf="currentUserId === question.owner.id" style="margin-left: 35px;" mat-icon-button class="example-icon" (click)="onDeleteQuestion(question.id)">
            <mat-icon>delete</mat-icon>Delete
        </button>
        
        <br />
        <!-- <div class="icon-comment">
            <i class="fa fa-comments" style="color: blue;"></i>
            <span>(5) Comment...</span>
        </div> -->
    </div>

</div>
