<div class="index">
    <div class="header" (click)="openModal()">
        <img class="avatar" src="/assets/img/avatar.png" width="25px" height="25px" />
        <span>Bạn có câu hỏi gì hôm nay không Nam đẹp trai? </span>
    </div>
    <div class="content" *ngFor="let question of questions">
        <a href="content.html" class="link">
            <img class="icon" src="/assets/img/icon.png" width="25px" height="25px" />
            <h4 id="mtext">Khi nào thì bạn nhận ra mình không còn yêu một người nữa?</h4>
        </a>
        <br />
        <img class="avatar" src="/assets/img/avatar.png" width="35px" height="35px" />
        <h6>Nguyễn Hoài Nam</h6>
        <br />
        <span class="text">
            {{question.content}}
        </span>
        <br />
        <div class="icon-comment">
            <i class="fa fa-comments" style="color: blue;"></i>
            <span>(5) Comment...</span>
        </div>
    </div>

</div>
