<div class="content col-xs-12 col-md-12 no-paddings-sm" style="font-size: 14px; font-family: arial;">
    
    <div class="detail-header">
        <h1>
            Hạch bạch huyết là gì? Vai trò, cấu tạo
        </h1>
    
        <div class="full-question"></div>
        <div class="question-images">
            <figure class="post-image full loaded-img"><img src="/assets/img/20200116_062315_185945_hch.max-800x800.jpg" alt="Sưng hạch bạch huyết" class="full uploaded img-in-body" /></figure>
        </div>
    </div>
    <div class="detail-body clearfix">
        <div class="streamfield">
            <div class="block-content cms">
                <div class="rich-text">
                    <p><b>Hạch bạch huyết có vai trò quan trọng trong hệ miễn dịch. Tuy nhiên không phải ai cũng có những hiểu biết chính xác về vai trò cũng như cấu tạo của các hạch bạch huyết trong cơ thể con người.</b></p>
                </div>
                <h2>1. Hạch bạch huyết là gì?</h2>
                <div class="rich-text">
                    <p></p>
                    <p>
                        <b class="link-in-body" >Hạch bạch huyết</b>
                        (hạch lympho) là một phần của hệ bạch huyết, nằm trong vô số các cấu trúc trơn, hình bầu dục dẹp, rải rác dọc theo các mạch bạch huyết.
                    </p>
                    <p>
                        Trong cơ thể con người có khoảng 500-600 hạch nằm chặn trên đường đi của các mạch bạch huyết, thường đứng thành nhóm và nhận bạch huyết của từng vùng cơ thể. Những vị trí phổ biến tập trung nhiều
                        <b>hạch bạch huyết</b> là cổ, nách, bẹn, tuy nhiên thông thường, nó xuất hiện ở khắp cơ thể.
                    </p>
                </div>
                <figure class="post-image full has-zoomable loaded-img">
                    <img
                        alt="Hạch bạch huyết"
                        class="full uploaded img-in-body"
                        data-src="/assets/img/20200306_134504_172919_he-hach-bach-huyet.max-1800x1800.png"
                        src="/assets/img/20200306_134504_172919_he-hach-bach-huyet.max-1800x1800.png"
                        lazy="loaded"
                    />
                    <figcaption class="caption"><div class="rich-text">Hệ thống hạch bạch huyết</div></figcaption>
                </figure>
                <h2>2. Vai trò của hạch bạch huyết</h2>
                <div class="rich-text">
                    <p></p>
                    <p>
                        Trong
                        <b class="link-in-body" >hệ miễn dịch</b>
                        , hạch bạch huyết có chức năng làm bộ lọc hoặc bẫy giữ lại các phần tử ngoại lai,
                    </p>
                    <p>
                        Các hạch có vai trò quan trọng đối với hoạt động của hệ miễn dịch. Hạch bạch huyết có thể bị nóng hoặc sưng lên. Đây là một trong những dấu hiệu cảnh báo một số bệnh lý như
                        <b class="link-in-body">viêm họng</b> đến nguy hiểm như
                        <b class="link-in-body" >ung thư</b>.
                    </p>
                </div>
                <h2>3. Vị trí hạch bạch huyết</h2>
                <div class="rich-text">
                    <p></p>
                    <p>
                        Các hạch có kích thước và hình dạng khác nhau, có thể từ vài mm đến khoảng 1–2 cm. Có một lớp vỏ dạng sợi bao bọc bên ngoài mỗi hạch, cái mà mở rộng bên trong <b>hạch bạch huyết</b> để hình thành sợi xương. Hạch bạch
                        huyết được chia thành vỏ ngoài và miền tủy ở bên trong. Vỏ bao bọc xung quanh miền tuỷ trừ nơi tủy trực tiếp tiếp xúc với rốn hạt.
                    </p>
                    <p>
                        Bên trong hạch có một mạng lưới hỗ trợ bằng chất reticulin giữa sợi lưới mỏng của mô liên kết dạng lưới và sợi chun. Ở vỏ ngoài - nơi chúng tụ tập lại thành tế bào nang B ở nang lympho và
                        <b class="link-in-body" >tế bào T</b>
                        chủ yếu ở cận vỏ, chúng ta sẽ tìm được tế bào B. Nang bạch huyết nằm trong các khoang của <b>hạch bạch huyết</b>, mỗi nang có một vùng vỏ tạo thành từ tế bào nang B, một vùng cận vỏ tế bào T, và một vùng đế của nang
                        ở miền tuỷ.
                    </p>
                </div>
                <figure class="post-image full has-zoomable loaded-img">
                    <img
                        alt="Hạch bạch huyết"
                        class="full uploaded img-in-body"
                        data-src="/assets/img/20190612_035054_590213_hach-bach-huyet_2.max-1800x1800.jpg"
                        src="/assets/img/20190612_035054_590213_hach-bach-huyet_2.max-1800x1800.jpg"
                        lazy="loaded"
                    />
                    <figcaption class="caption"><div class="rich-text">Hạch bạch huyết vùng cổ</div></figcaption>
                </figure>
                <div class="rich-text">
                    <p></p>
                    <p>
                        Không chỉ giúp hỗ trợ cấu trúc, mạng tế bào lưới mà còn là bề mặt kết dính của tế bào tua, đại thực bào và
                        <b class="link-in-body" >tế bào lympho</b>
                        . Nó cho phép trao đổi vật chất với máu qua tiểu tĩnh mạch nội mô cao và cung cấp yếu tố phát triển và tuần hoàn cần thiết cho việc kích hoạt và phát triển tế bào miễn dịch.
                    </p>
                    <p>Hình dạng của mỗi <b>hạch bạch huyết</b> khác nhau, có hạch hình hạt đậu, có hạch hình trứng được nằm trong vỏ xơ.</p>
                    <p>
                        Các mạch bạch huyết mang bạch huyết đến hạch hay còn gọi là huyết quản nằm ở ngay vỏ xơ của <b>hạch bạch huyết</b>. Rốn của hạch được nằm ở phần lõm vào. Rốn hạch là nơi đi vào nhu mô hạch của động mạch, là nơi đi ra
                        của bạch huyết quản đi (dẫn bạch huyết ra khỏi mạch) và tĩnh mạch.. Từ vỏ xơ tách ra các nhánh xơ tiến sâu vào nhu mô hạch gọi là vách xơ và dây xơ.
                    </p>
                    <p></p>
                    <br/>
                    <br/>
                    <br/>

                </div>
            </div>
        </div>

    </div>
</div>
